<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register</title>
</head>
<body>
  <%- include('partials/_header') %> 
  <main style="margin: 1em;">
    <h1>Create account</h1>
    <br>
    <form method="POST" action="/register">
      <label for="userEmail"> Email <br>
        <input type="email" name="email" id="userEmail" required>
      </label>
      <br>
      <label for='userPassword'> Password <br>
        <input type="password" name="password" id="userPassword" required>
      </label>
      <br>
      <button type="submit">Register</button>
    </form>
  </main>
</body>
</html>